body {
    font-size: 15pt;
    background-color: rgb(255, 244, 177);
    color: rgb(236, 29, 37);
}div.ex1 {
  overflow: scroll;
}

div.ex2 {
  overflow: hidden;
}

div.ex3 {
  overflow: auto;
}

div.ex4 {
  overflow: visible;
}
